<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; }</style>
    <title>Lunch Check</title>
  </head>
  <body ng-app="LunchCheck">
    <h1>Lunch Check Portal</h1>
    <div ng-controller="LunchCheckController">
      <div>
      
        Type your daily lunch menu (separated by commas):
        <br><br>
        
        <input style="border-color:{{inputBorderColor}}" type="text" ng-model="name">
        <br><br>
        
        <button ng-click="checkNumberFoodItems()">Check If Too Much</button>
      
      </div><br>
      <div style="color: {{fontColor}}">{{displayString}}</div>
    </div>
  </body>
</html>
