* {
  box-sizing: border-box;
  font-family: Helvetica;
}
h1 {
  margin-bottom: 15px;
  font-size: 1.75em;
  text-align: center;
}

.mobile {
  visibility: hidden; 
  position: absolute;
  font-size: 1.25em;
  height: 50px;
}

.not-mobile {
  visibility: visible;
}

.heading {
  font-family: "Times New Roman", Times, serif;
}

div {
  position: relative;
}

p {
  border: 1px solid black;
  width: 120px;
  height: 35px;
  margin-top: 0px;
  padding: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: center;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 1.25em;
}

.box {
  background-color: white;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  text-align: left;
}

.box2 {
  border: 1px solid black;
  height: 150px;
  padding-top: 55px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
  margin-right: 10px;
  margin-left: auto;
  padding-bottom: 50px;
  margin-bottom: 50px;
  text-align: left;
  font-size: 1em;
  overflow: hidden;
}

.box2:hover {
  overflow: auto;
}

.chicken {
  background-color: purple;
}

.beef {
  background-color: #ff8c00;
}

.fish{
  background-color: green;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}